OPENROUTER_API_KEY="sk-or-v1-YOUR_API_KEY"
TAVILY_API_KEY="tvly-dev-YOUR_API_KEY"
CEREBRAS_API_KEY="csk-YOUR_API_KEY"

AUTH_JWT_SECRET="your-secret-key-min-32-chars"
AUTH_ALGORITHM=HS256
AUTH_ACCESS_EXPIRE_MINUTES=15
AUTH_REFRESH_EXPIRE_DAYS=7
